<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DriversStation.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DriversStation.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DriversStation.My.MySettings>
            <setting name="ServerMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
        </DriversStation.My.MySettings>
    </userSettings>
    <applicationSettings>
        <DriversStation.My.MySettings>
            <setting name="OutputTables" serializeAs="String">
                <value>output-tables</value>
            </setting>
            <setting name="RobotInputDefault" serializeAs="String">
                <value>robot-input-default</value>
            </setting>
            <setting name="RobotInput" serializeAs="String">
                <value>robot-input</value>
            </setting>
        </DriversStation.My.MySettings>
    </applicationSettings>
</configuration>